
/*
h2 {
    font-size: 54px;
    text-align: center;
    font-weight: 300;
    color: #22A39F;
    font-family: 'Open Sans', sans-serif !important;
    margin-bottom: 20px;
}
*/

p.lead {
    text-align: center;
    color: #727878;
}
