@font-face {
  font-family: brooke;
  src: url(fonts/brooke.ttf);
}

@font-face {
  font-family: battlefield;
  src: url(fonts/battlefield.ttf);
}

@font-face {
  font-family: title;
  src: url(fonts/trench.ttf);
}

@font-face {
  font-family: freedom;
  src: url(fonts/freedom.ttf);
}


.jumbotron .container h1 {
    color: white;
    font: 70pt title, Arial, sans-serif;
    text-shadow: 8px 8px 12px rgba(0, 0, 0, 0.74);
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    -ms-transform: rotate(2deg);
    -o-transform: rotate(2deg);
    transform: rotate(2deg);
    margin-left: 2%;
}

@media screen and (max-width: 780px){
    #header p {
        font-size: 50pt;
    }
}

@media screen and (max-width: 600px){
    #header p {
        font-size: 40pt;
    }
}

@media screen and (max-width: 400px){
    #header p {
        font-size: 30pt;
    }
}

.blue-bar {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  width: 70px;
  display: block;
  border-top: 2px solid #6898BD;
}

#contact a {
    color: #3c9ff3;
}

h2 {
    font-family: freedom, Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 80px;
    margin-bottom: 5px;
    text-align: center;
    color: #2274b9;
}

h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #5594c9;
}

#profile h3 {
    font-family: battlefield, Lucida Console, Lucida Sans Typewriter, Verdana;
}

h4 {
    margin: 0 0 35px;
    text-transform: uppercase;
    font-family: freedom, "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 100;
    letter-spacing: 1px;
}

.navbar .nav > li a {
    display: block;
    height: 80px;
    text-align: center;
    padding-top: 30px;
    font-weight: 600;
    color: #FFFFFF;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    transition: color .2s linear;
    outline: 0;
}

a.btn-social.btn-outline {
    color: #3c9ff3;
}

.btn-success {
    color: #ffffff;
    background-color: #3c9ff3;
    border-color: #5594c9;
}

.btn-success:hover {
    color: #ffffff;
    background-color: #2274b9;
    border-color: #5594c9;
}

.cool {
    /*box-sizing: border-box;*/
    color: rgb(136, 136, 136);
    /*float: right;*/
    /*height: 16px;*/
    /*text-align: left;*/
    /*width: 88.375px;*/
    /*perspective-origin: 44.1875px 8px;*/
    /*transform-origin: 44.1875px 8px;*/
    /*border: 0px none rgb(136, 136, 136);*/
    font: normal normal bold 12px/16.7999992370605px brooke, Helvetica, arial, freesans, clean, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
}
div.modal-box-sz-and-position {
    margin: auto !important;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 60%;
    height: 80%;
}

.m-proj-btm {
    /* color: #77E400; */
    border: 2px solid blue;
    /* height: 12em; */
}
.proj-main-clr {
    color: orange !important;
    text-decoration: none;
}


.thumbnail {
    position:relative;
    overflow:hidden;
    padding: 0;
    margin-bottom: 0;
}

.thumbnail2 {
    display: block;
    /*padding: 4px;*/
    margin-bottom: 20px;
    line-height: 1.428571429;
    background-color: #fff;
    /*border: 1px solid #ddd;*/
    border-radius: 4px;
    margin-bottom: 20px;
}

.caption {
    position:absolute;
    bottom:-100%;
    right:0;
    background:rgba(255, 162, 0, 0.75);
    width:100%;
    height:100%;
    padding:1%;
    text-align:center;
    color:#fff !important;
    z-index:2;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.thumbnail2:hover .caption {
    bottom:0%;
}

.panel-image {
    position: relative;
    /*text-align: center;*/
}
.panel-image img.panel-image-preview {
    height: inherit;
    width: 60vw;
    border-radius: 4px 4px 0px 0px;
}
div.panel-footer.footer-cool.text-center {
    position: relative;
    /*width: 99.9%;*/
    border-radius: 0 0 4px 4px;
    /*height: 26px;*/
}
.panel-image label {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    border: 1px solid white;
    border-radius: 4px;
}
.modal-centered div {
    background-color: #f5f5f5;
    border-radius: 4px 4px 4px 4px;
    padding: 1px 0 0 0;
    overflow: hidden;
    /*width: 60.25vw;*/
}
.panel-heading ~ .panel-image img.panel-image-preview {
    border-radius: 0px;
}



.panel-body {
    overflow: hidden;
}

span.glyphicon, span.fa {
    margin-left: .4em;
}
/*.panel-image ~ input[type=checkbox] {
    position:absolute;
    top:- 30px;
    z-index: -1;
}

.panel-image ~ input[type=checkbox] ~ .panel-body {
    height: 0px;
    padding: 0px;
}

.panel-image ~ input[type=checkbox]:checked ~ .panel-body {
    height: auto;
    padding: 15px;
}
*/
.panel-image ~ .panel-footer a {
    padding: 0px 10px;
    font-size: 1.3em;
    color: rgb(100, 100, 100);
}


.panel-footer a {
    color: rgb(100, 100, 100);
    /*padding: 5px 15px;*/
}

div.panel-footer.text-center {
    padding: 5px 15px;
}



.repo_img_modal {
    height: 600px;
    background-size: cover;
    background-position: center;
}

.marg-top-3em {
    margin-top: 3em;
}
div.marg-top-3em {
    margin-top: 3em;
}
.marg-top-7em {
    margin-top: 7em;
}
div.marg-top-7em {
    margin-top: 7em;
}
.btn-outline-rounded {
    padding:12px 20px;
}

body {
    cursor:url(pointers/cur116.png),auto;width:100%;
}
a:hover {
    cursor:url(pointers/cur96.gif),auto;width:100%;
}
button {
    cursor:url(pointers/cur95.gif),auto;width:100%;
}
button.btn {
    cursor:url(pointers/54504.png),auto;width:100%;
}

:root .adsbygoogle{display:none !important;}
.skills {
    font-size: 1.25em;
        font-weight: 300;
}
.details hr{
    margin: 0;
}
.details p{
    margin: 0;
}
.r20{
    padding-right: 20px;
}

.bor{

    border-radius: 4px 4px 0 0;
    border-bottom: 0;
}
.lb{
    text-align: left;
    margin-bottom: 0;
}
.f15{
    margin: 0 0 25px;
    line-height: 1.5;
    font-size: 15px;
}
.white {
    color: white !important;
}
.contact-form {
    background: #fff none repeat scroll 0 0;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    display: inline;
    border-radius: 4px;
    padding: 20px;
    float: left;
    width: 100%;
}
.contact-map {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    height: 428px;
    display: inline;
    float: left;
    width: 100%;
}/*
@media (max-width: 1199px){
.contact-map {
    height: 492px;
}
}
@media (max-width: 991px){
.contact-map {
    height: 484px;
}
}

@media (max-width: 480px){
.contact-map {
    height: 350px;
    margin-top: 30px;
}
}
*/
.footer-bottom {
    background-color: #fff;
    display: inline;
    float: left;
    width: 100%;
}

.cols12 {
    box-sizing: border-box;
    padding: 0 0.75rem;
    float: left;
    width: 100%;
    margin-left: 0;
}
.footer-inner {
    display: inline;
    float: left;
    padding-top: 20px;
    position: relative;
    text-align: center;
    width: 100%;
}
button.btn-floating {
    border: none;
}
.btn-floating.btn-large {
    width: 55.5px;
    height: 55.5px;
}
.footer-inner a {
    color: #78b3e6;
}
